<h1>Login</h1>

<form
  [formGroup]="userForm"
  (ngSubmit)="logIn()"
  novalidate>
  <input
    type="email"
    formControlName="email"
    placeholder="Email">
  <p *ngIf="formErrors.email">{{ formErrors.email }}</p>

  <input
    type="password"
    formControlName="password"
    placeholder="Password">
  <p *ngIf="formErrors.password">{{ formErrors.password }}</p>

  <button
    type="submit"
    [disabled]="!userForm.valid">
    Login
  </button>
</form>

<div>
  <p>Not a member yet?</p>
  <a [routerLink]="['../', 'signup']">Sign up</a>
</div>
