.navbar {
  width: 150px;
  height: 100vh;
  background-color: #0c1f27;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.button-box {
  margin-top: 50px;
  list-style: none;
  padding: 0;
  width: 100%;
}
.navbar-button {
  color: #678590;
  padding: 10px 15px;
  cursor: pointer;
  &:hover {
    background-color: #162b33;
    color: white;
  }
  &:focus {
    outline: none;
  }
}
.navbar-button--active {
  background-color: #162b33;
  color: white;
}
