.container {
  width: 400px;
  padding: 20px;
}
.form-step {
  min-height: 350px;
}
.input-group {
  margin-top: 20px;
}
.input-box {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.input-label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.input-validation {
  color: #ff6315;
  margin-top: 3px;
  font-size: 13px;
}
.hint {
  font-weight: 700;
  padding: 10px 0 20px 0;
  color: grey;
  margin: 0;
}
.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
/deep/ .mat-tab-label.mat-ripple {
  min-width: 0;
  flex-grow: 1;
  font-size: 0.8rem;
  font-weight: 700;
  color: grey;
  padding: 0;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
